@import url('https://fonts.googleapis.com/css?family=Marvel:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vina+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Marvel', serif;
  font-weight: 700;
  color: whitesmoke;
  background-color: black;
}
